In [1]:
import requests
from bs4 import BeautifulSoup
import json
import numpy as np
import pandas as pd
import argparse
import time
import random

In [2]:
# Load the CSV file
data_path = '../src/data/'
data_file = 'ted_main_page_data.csv'
data = pd.read_csv(data_path + data_file)
print("File opened.")

File opened.

In [4]:
data.keys()

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'Unnamed: 0.1.1.1',
       'rowid', 'comments', 'description', 'duration', 'event', 'film_date',
       'languages', 'main_speaker', 'name', 'num_speaker', 'published_date',
       'ratings', 'related_talks', 'speaker_occupation', 'tags', 'title',
       'url', 'views', 'page_data'],
      dtype='object')

In [38]:
data = data.drop(columns=["Unnamed: 0", "Unnamed: 0.1", "Unnamed: 0.1.1", "Unnamed: 0.1.1.1"])

In [45]:
data.loc[288:292,:]

,rowid,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,ratings,related_talks,speaker_occupation,tags,title,url,views,page_data
288,288,85,The face of nuclear terror has changed since t...,1518,TED2008,1204243200,21,Irwin Redlener,Irwin Redlener: How to survive a nuclear attack,1,1220922000,"[{'id': 8, 'name': 'Informative', 'count': 393...","[{'id': 167, 'hero': 'https://pe.tedcdn.com/im...","Physician, disaster-preparedness activist","['global issues', 'history', 'medicine', 'tech...",How to survive a nuclear attack,https://www.ted.com/talks/irwin_redlener_warns...,657688,"{'comments': {'id': 298, 'count': 86, 'talk_id..."
289,289,56,Brewster Kahle is building a truly huge digita...,1206,EG 2007,1197417600,24,Brewster Kahle,Brewster Kahle: A free digital library,1,1221008400,"[{'id': 3, 'name': 'Courageous', 'count': 71},...","[{'id': 319, 'hero': 'https://pe.tedcdn.com/im...",Digital librarian,"['books', 'design', 'entertainment', 'film', '...",A free digital library,https://www.ted.com/talks/brewster_kahle_build...,445781,NaN
290,290,66,With vibrant video clips captured by submarine...,800,TED1998,888624000,25,David Gallo,David Gallo: Life in the deep oceans,1,1221094800,"[{'id': 10, 'name': 'Inspiring', 'count': 155}...","[{'id': 40, 'hero': 'https://pe.tedcdn.com/ima...",Oceanographer,"['animals', 'geology', 'life', 'oceans', 'scie...",Life in the deep oceans,https://www.ted.com/talks/david_gallo_on_life_...,996736,"{'comments': {'id': 297, 'count': 75, 'talk_id..."
291,291,68,"Storyteller Carmen Agra Deedy spins a funny, w...",1414,TED2005,1107302400,23,Carmen Agra Deedy,"Carmen Agra Deedy: Once upon a time, my mother...",1,1221181200,"[{'id': 25, 'name': 'OK', 'count': 84}, {'id':...","[{'id': 60, 'hero': 'https://pe.tedcdn.com/ima...",Storyteller,"['children', 'entertainment', 'memory', 'story...","Once upon a time, my mother ...",https://www.ted.com/talks/carmen_agra_deedy_sp...,672797,NaN
292,292,12,Keith Bellows gleefully outlines the engineeri...,966,TED2002,1012608000,18,Keith Bellows,Keith Bellows: The camel's hump,1,1221440400,"[{'id': 8, 'name': 'Informative', 'count': 68}...","[{'id': 69, 'hero': 'https://pe.tedcdn.com/ima...",Traveler,"['animals', 'energy', 'entertainment', 'global...",The camel's hump,https://www.ted.com/talks/keith_bellows_on_the...,185275,"{'comments': {'id': 299, 'count': 12, 'talk_id..."

In [50]:
type(data.loc[289, "page_data"])

float

In [61]:
missing_data = data.loc[data["page_data"].isna(),:]

In [59]:
def scrapePage(url: str):
    page = requests.get(url)
    # Create a BeautifulSoup object
    soup = BeautifulSoup(page.content, 'html.parser')
    tag = soup.find('script', attrs={"data-spec":"q"})
    tag = str(tag)
    start = tag.find('{"el"')
    end = tag.find('})', start) + 1
    if start == -1 or end == -1:
        print("Failed to parse URL: " + url)
        return np.NaN, np.NaN
    j = tag[start:end]
    j = json.loads(j)
    # speaker_data = j['__INITIAL_DATA__']['speakers']
    thumbnail = j['__INITIAL_DATA__']['talks'][0]['hero']
    return j['__INITIAL_DATA__'], thumbnail

In [60]:
for i in missing_data.index:
    url = data.loc[i, "url"]
    page_data, thumbnail = scrapePage(url)
    page_string = str(page_data)
    data.loc[i, "page_data"] = page_string
    print("Retrived page data for row: " + str(i))
    time.sleep(4 + random.randint(-1, 2))

Retrived page data for row: 91
Retrived page data for row: 97
Retrived page data for row: 289
Retrived page data for row: 291
Retrived page data for row: 300
Retrived page data for row: 301
Retrived page data for row: 304
Retrived page data for row: 321
Retrived page data for row: 323
Retrived page data for row: 325
Retrived page data for row: 329
Retrived page data for row: 330
Retrived page data for row: 378
Retrived page data for row: 411
Retrived page data for row: 463
Retrived page data for row: 589
Retrived page data for row: 590
Retrived page data for row: 699
Retrived page data for row: 853
Retrived page data for row: 854
Retrived page data for row: 855
Retrived page data for row: 957
Failed to parse URL: https://www.ted.com/talks/emiliano_salinas_a_civil_response_to_violence

Retrived page data for row: 969
Retrived page data for row: 1130
Retrived page data for row: 1157
Retrived page data for row: 1181
Retrived page data for row: 1252
Retrived page data for row: 1254
Retrived page data for row: 1322
Retrived page data for row: 1326
Retrived page data for row: 1364
Retrived page data for row: 1387
Retrived page data for row: 1389
Retrived page data for row: 1401
Retrived page data for row: 1529
Failed to parse URL: https://www.ted.com/talks/two_young_scientists_break_down_plastics_with_bacteria

Retrived page data for row: 1549
Retrived page data for row: 1559
Failed to parse URL: https://www.ted.com/talks/eddy_cartaya_my_glacier_cave_discoveries

Retrived page data for row: 1641
Retrived page data for row: 1684
Failed to parse URL: https://www.ted.com/talks/catherine_bracy_why_good_hackers_make_good_citizens

Retrived page data for row: 1686
Retrived page data for row: 1687
Retrived page data for row: 1801
Retrived page data for row: 1806
Retrived page data for row: 1863
Retrived page data for row: 1865
Retrived page data for row: 1886
Failed to parse URL: https://www.ted.com/talks/boniface_mwangi_boniface_mwangi_the_day_i_stood_up_alone

Retrived page data for row: 1949
Failed to parse URL: https://www.ted.com/talks/tom_uglow_an_internet_without_screens_might_look_like_this

Retrived page data for row: 2070
Retrived page data for row: 2121
Retrived page data for row: 2155
Failed to parse URL: https://www.ted.com/talks/eric_haseltine_what_will_be_the_next_big_scientific_breakthrough

Retrived page data for row: 2245
Retrived page data for row: 2323
Retrived page data for row: 2324
Retrived page data for row: 2396
Retrived page data for row: 2457
Retrived page data for row: 2492

In [69]:
data.loc[1949, "page_data"]

'nan'

In [70]:
missing_data = data.loc[data["page_data"] == "nan",:]

In [71]:
missing_data.index

Int64Index([969, 1549, 1641, 1686, 1949, 2070, 2245], dtype='int64')

In [72]:
for i in missing_data.index:
    url = data.loc[i, "url"]
    page_data, thumbnail = scrapePage(url)
    page_string = str(page_data)
    data.loc[i, "page_data"] = page_string
    print("Retrived page data for row: " + str(i))
    time.sleep(4 + random.randint(-1, 2))

Failed to parse URL: https://www.ted.com/talks/emiliano_salinas_a_civil_response_to_violence

Retrived page data for row: 969
Failed to parse URL: https://www.ted.com/talks/two_young_scientists_break_down_plastics_with_bacteria

Retrived page data for row: 1549
Retrived page data for row: 1641
Retrived page data for row: 1686
Retrived page data for row: 1949
Retrived page data for row: 2070
Failed to parse URL: https://www.ted.com/talks/eric_haseltine_what_will_be_the_next_big_scientific_breakthrough

Retrived page data for row: 2245

In [73]:
missing_data = data.loc[data["page_data"] == "nan",:]

In [74]:
missing_data.index

Int64Index([969, 1549, 2245], dtype='int64')

In [76]:
truly_missing = data.loc[missing_data.index, :]

In [77]:
truly_missing.to_csv("ted_dead_links.csv", index=False)

In [79]:
truly_missing.loc[:, ["name", "main_speaker", "event"]]

,name,main_speaker,event
969,Emiliano Salinas: A civil response to violence,Emiliano Salinas,TEDxSanMigueldeAllende
1549,Two young scientists break down plastics with ...,Miranda Wang and Jeanny Yao,TED2013
2245,Eric Haseltine: What will be the next big scie...,Eric Haseltine,TED Talks Live

In [80]:
data.to_csv("ted_main_pagedata_unparsed.csv", index=False)